<div class="calendar-wrapper">
  <!-- <nav class="calendar-nav" *ngIf="calendar">
    <form [formGroup]="calendarForm">
      <select formControlName="calendarView" (change)="changedView()">
        <option value="week">Woche</option>
        <option value="day">Tag</option>
        <option value="month">Monat</option>
      </select>
    </form>
    <new-entry
      *ngIf="showNewEntry"
      lala="test"
      [entryData]="newEntryData"
      (onClose)="onNewEntryClose()"
      (addEvent)="onAddEvent($event)"
    ></new-entry>
    <button (click)="today()">Heute</button>
    <button (click)="prev()">Zurück</button>
    <button (click)="next()">Vor</button>
  </nav> -->

  <full-calendar
    #calendar
    #calRef
    height="auto"
    defaultView="timeGridWeek"
    slotDuration="00:15:00"
    slotLabelInterval="01:00"
    [selectAllow]="onSelectAllow"
    slotLabelFormat="HH:mm"
    [editable]="true"
    [selectable]="true"
    [allDaySlot]="false"
    [slotEventOverlap]="false"
    [nowIndicator]="true"
    [plugins]="calendarPlugins"
    (select)="onSelect($event)"
    locale="de"
    [events]="[
      {
        title: 'event 1',
        start: '2019-12-13T06:30:00',
        end: '2019-12-13T07:00:00'
      },
      {
        title: 'event 2',
        start: '2019-12-14T07:30:00',
        end: '2019-12-14T08:00:00'
      }
    ]"
  ></full-calendar>
</div>
