.fc-header-toolbar {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
  background: #fff;
  height: 70px;
}

.fc-head-container {
  position: sticky;
  top: 69px;
  background: #fff;
  z-index: 100;
  &,
  th,
  thead {
    border-color: #fff !important;
  }
}

.fc-time-grid .fc-slats .fc-minor td {
  border-style: solid;
}

.cell-hover {
  display: none;
  pointer-events: none;
  background: lightblue;
  position: absolute;
  z-index: 100;
  transition: left 0.1s ease;
}
