.fc-header-toolbar {
  position: sticky;
  top: 0;
  background: #f7f7f8;
  z-index: 10;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
  background: #f7f7f8;
  height: 70px;
}

.fc-head-container {
  position: sticky;
  top: 69px;
  background: #fff;
  z-index: 100;
  border-top: 0 !important;
  border-bottom: 0 !important;
  &,
  th,
  thead {
    border-color: transparent !important;
    background: #f7f7f8;
  }
}

.fc-body > tr > .fc-widget-content {
  border: 0;
}

.fc-time-grid .fc-slats {
  & > table {
    border: inherit;
    border-left: 0 hidden transparent;
    border-right: 0 hidden transparent;
  }

  td:first-child {
    border-left: 0;
    border-top: 0;
  }

  .fc-minor td {
    border-style: solid;
  }
}

.cell-hover {
  display: none;
  pointer-events: none;
  background: lightblue;
  position: absolute;
  z-index: 100;
  transition: left 0.1s ease;
}
