.calendar-wrapper {
  position: relative;
  overflow: hidden;
}

#calendar {
  height: 1300px;
}

.tui-full-calendar-timegrid-hour:first-child span {
  display: block !important;
  top: -2px !important;
}

.tui-full-calendar-vlayout-area {
  & > *:nth-child(1),
  & > *:nth-child(2) {
    display: none;
  }
}